@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

body {
  font-family: 'Staatliches', cursive;
}

#content {
  height: 100vh;
  background: #300000;
  background: linear-gradient(45deg, #2980B9, #6DD5FA, #FFFFFF);
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.landscape-container{
  position: relative;
}

.landscape-image {
  display: block;
}

.landscape-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, .5);
}